body  {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 24px;
}
.links  {
  margin: auto;
  width: 80%;
}
a {
  text-decoration: none;
  position: relative;
}

/* right */
.left a::before {
  content: '';
  bottom: 0;
  left: 0;  
  position: absolute;
  width: 0%;
  height: 30px;
  background-color:#FFFFFF;
  transition: 0.2s;
  opacity: .6;
}
.left a.top::before {
  top: 0;
}
.left a:hover:before {
  width: 100%;
  left: 0;
}

.right a::before {
  content: '';
  bottom: 0;
  right: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: 0.2s;
}
.right a:hover:before {
  width: 100%;
}

.center a::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: 0.2s;
  transform: scaleX(0);
}
.center a:hover:before {
  transform: scaleX(1);
}

a {
  padding: 10px;
  background-color: #4E90E2;
  color:#FFFFFF;

}

